{% raw %}  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfessionalService",
    "name": "Kozlowski IT",
    "url": "https://kozlowski-it.de",
    "email": "pk@kozlowski-it.de",
    "telephone": "+49 162 8213267",
    "priceRange": "€€",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Abteistraße 30/6",
      "postalCode": "88416",
      "addressLocality": "Ochsenhausen",
      "addressCountry": "DE"
    },
    "areaServed": [
      "Landkreis Biberach",
      "Biberach an der Riß",
      "Laupheim",
      "Bad Schussenried",
      "Riedlingen",
      "Ochsenhausen",
      "Ummendorf"
    ]
  }
  </script>{% endraw %}
