<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "@id": "{{ site.domain }}/#business",
  "name": "{{ site.name }}",
  "url": "{{ site.domain }}",
  "email": "{{ site.email }}",
  "telephone": "{{ site.tel }}",
  "priceRange": "€€",
  "logo": "{{ site.domain }}{{ site.logo }}",
  "image": "{{ site.domain }}/assets/img/og-image.png",
  "sameAs": ["{{ site.github }}"],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.street }}",
    "postalCode": "{{ site.postalCode }}",
    "addressLocality": "{{ site.city }}",
    "addressRegion": "{{ site.region }}",
    "addressCountry": "DE"
  },
  "areaServed": [
    "Landkreis Biberach",
    "Biberach an der Riß",
    "Laupheim",
    "Bad Schussenried",
    "Riedlingen",
    "Ochsenhausen",
    "Ummendorf"
  ]
}
</script>
